    
      <div class="container" style="padding: 10px;align-self: center">
  <div class="jumbotron" style="background-image: url(https://p4.wallpaperbetter.com/wallpaper/53/375/718/laptop-wallpaper-preview.jpg);margin-top: 10px; padding: 150px;image-resolution: inherit">
 
  <h1 style="color: #008888;margin-top: 30px;text-align: right">Hello There!</h1>    
  <h1 style="color: #fff;text-align: right; background-color: #008888; margin-left: 51%;">Welcome to Shubham PortFolio</h1>
  </div>
  </div>
  
  
  
  
  