<div class="custom-container">
        <nav class="custom-navbar">
                <ul class="custom-navbar-nav">
                        <li class="custom-nav-item">
                                <a class="custom-btn custom-brand" routerLink="/">myPortFolio</a>
                        </li>
                        <li class="custom-nav-item" style="margin-left: 800px;">
                                <a class="custom-btn" routerLink="/aboutus">About Us</a>
                        </li>
                        <li class="custom-nav-item">
                                <a class="custom-btn" routerLink="/contactus">Contact Us</a>
                        </li>
                        <li class="custom-nav-item">
                                <a class="custom-btn" routerLink="/signin">Sign In</a>
                        </li>
                        <li class="custom-nav-item">
                                <a class="custom-btn" routerLink="/signup">Sign Up</a>
                        </li>
                        
                </ul>
        </nav>
        <div class="custom-content">
                <router-outlet></router-outlet>
        </div>
</div>