<button class="btn btn-primary" (click)="toggleImage()">
    {{ showImage ? 'Hide' : 'Show' }} Images
</button>

<table class="product-table">
    <thead>
        <tr>
            <th *ngIf="showImage">Product Image</th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td *ngIf="showImage">
                <img *ngIf="product.showProductImage" [src]="product.image" alt="Product Image" width="50">
                <button class="btn btn-link" (click)="toggleProductImage(product)">
                    {{ product.showProductImage ? 'Hide' : 'Show' }} Image
                </button>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.available }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.rating }}</td>
        </tr>
    </tbody>
</table>